
.carousel-item img {
   max-height: 300px;
   max-width: 300px;
   min-width: auto;
 }

.carousel-item {
    max-height: 300px;
    max-width: 300px;
    min-width: auto;
}

.carousel{
    max-height: 300px;
    max-width: 300px;
    min-width: auto;
}

.message {
    padding: 10px;
}